* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #f2f3e6;
}

.container {
  display: grid;
  background-color: #ED2939; 
}

.display--fonts {
  grid-column-start: 2;
  grid-column-end: 3;
}

.text--fonts {
  grid-column-start: 4;
  grid-column-end: 5;
}

.font--pair {
  grid-template-columns: 3% 1fr 3% 1.61803fr 3%;
}